:root {
  --hero-text-color: #ffffff;
  --primary-text-color: #212121;
  --footer-bgc: #2f303a;
  --footer-text-color: #ffffff;

  --border-color: #f5f4fa;
}

/* Contacts style  */

/* We do section */

/* buttons */

.portfolio-button:hover,
.portfolio-button:focus {
  color: var(--accent-button);
  background-color: var(--accent-bgc-button);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  border: solid 1px #2196f3;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-project {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  cursor: pointer;
  transition: box-shadow 250ms var(--cubic-bezier);

  outline: solid 1px #eeeeee;
}

.portfolio-project:nth-child(3n) {
  margin-right: 0;
}
.portfolio-project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio-item {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.piece-item {
  margin: 0;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-top: 20px;
}
.portfolio-textbox {
  padding: 20px 24px;
}
.portfolio-image {
  position: relative;
  overflow: hidden;
}
.portfolio-item-text {
  position: absolute;
  width: 100%;
  height: 294px;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(102%);
  transition: transform 250ms var(--cubic-bezier);
}
.portfolio-item-text .is-hidden {
  opacity: 0;
  pointer-events: none;
}
.portfolio-project:hover .is-hidden {
  opacity: 1;
  transform: translateY(0%);
}
.item-text {
  padding: 63px 24px;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
}
.portfolio-text {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;
  margin-top: 4px;
}

.portfolio-project:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
